<table class="pretty">
    <tr><th>Property</th><th>Value</th></tr>
    <tr><td>IGSN</td><td>{{ igsn }}</td></tr>
    <tr><td>GA Sample ID</td><td>{{ sample_id }}</td></tr>
    {% if description is not none %}
    <tr><td>Description</td><td>{{ description }}</td></tr>
    {% endif %}
    <tr><td>Date Acquired</td><td>{{ date_acquired|safe }}</td></tr>
    <tr>
        <td>
            Sampling Location (WKT)<br />
            horizontal datum: <a href="https://epsg.io/4283">4283</a>
        </td>
        <td>{{ wkt }}</td>
    </tr>
    <tr><td>State</td><td>{{ state }}</td></tr>
    <tr><td>Current Location</td><td>GA Services building</td></tr>
    <tr><td>Access Rights</td><td>{{ access_rights_alink|safe }}</td></tr>
    <tr><td>Publisher</td><td><a href="http://pid.geoscience.gov.au/org/ga/geoscienceaustralia">Geoscience Australia</a></td></tr>
    <tr><td>Sample Type</td><td>{{ sample_type_alink|safe }}</td></tr>
    <tr><td>Method Type</td><td><a href="{{ method_type_alink }}">{{ method_type_text }}</a></td></tr>
    <tr><td>Material Type</td><td>{{ material_type_alink|safe }}</td></tr>
    <tr><td>Lithology</td><td>{{ lithology_alink|safe }}</td></tr>
    <tr><td>Sampling Feature Type</td><td>{{ entity_type_alink|safe }}</td></tr>
    <tr><td>Custodian:</td><td><a href="{{ custodian_uri }}">{{ custodian_label }}</a></td></tr>
    {% if collector is not none %}
    <tr><td>Collector</td><td>{{ collector }}</td></tr>
    {% endif %}
    <tr><td colspan="2"></td></tr>
    <tr><th colspan="2">Functional endpoints</th></tr>
    <tr><td>Provenance</td><td><a href="{{ request.base_url }}?_view=prov">?_view=prov</a></td></tr>
    <tr><td>Pingback endpoint</td><td><a href="{{ request.base_url }}/pingback">/pingback</a></td></tr>
</table>