{% extends "page_layout.html" %}

{% block content %}
    <h1>Linked Data API of Samples</h1>
    <p>This is the home page of GA's Linked Data <a href="https://en.wikipedia.org/wiki/Application_programming_interface">API</a> of Samples. This system provides landing pages for GA's samples which are where our <a href="http://www.igsn.org/">International GeoSample Number identifiers</a> resolve to, multiple <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a> <em>views</em> of each sample's metadata according to several relevant models such as the IGSN model, <a href="https://www.w3.org/TR/prov-o/">PROV-O</a> and <a href="http://dublincore.org/">Dublin Core</a>. </p>
    <h3>Service Description</h3>
    <p>There are two sorts of access to GA's samples' metadata that this API delivers:</p>
    <ol>
        <li><strong>Linked Data</strong> - human and machine readable resources (web pages &amp; RDF data) for the Register of samples and each Sample</li>
        <li><strong>OAI-PMH</strong> - <a href="https://www.openarchives.org/pmh/">Open Archives Initiative - Protocol for Metadata Harvesting</a>: an HTTP API for harvesting metadata for objects in XML. This form of access is a requirement of the IGSN community</li>
    </ol>
    <p>The endpoints for these two forms of access are given in the links at the top right of this page.</p>
    <p>While this web page describes this system for a human to read, it's not much good for machines so we also provide a machine-readable version. We have implemented, as test, an <a href="http://www.opengeospatial.org/">OGC</a> <a href="http://www.opengeospatial.org/standards/wms">WMS web service</a>'s <em>GetCapabilities</em> function which:</p>
    <blockquote><em>Retrieves metadata about the service, including supported operations and parameters</em></blockquote>
    <p>To view the <em>GetCapabilities</em> function results for this API, see:</p>
    <ul>
        <li><a href="{{ url_for('controller.index') }}?_view=getcapabilities&_format=text/xml">{{ url_for('controller.index') }}?_view=getcapabilities&_format=text/xml</a></li>
    </ul>
    <h3>Contact</h3>
    <p>This API is maintained by GA's Scientific Data section. Contact then on <a href="mailto:dataman@ga.gov.au">dataman@ga.gov.au</a>.</p>
{% endblock %}