{% extends "page_layout.html" %}

{% block content %}
    <h1>Sample</h1>
    <h2>{{ view_title }}</h2>

{#    <iframe#}
{#        width="566"#}
{#        height="400"#}
{#        frameborder="0"#}
{#        style="border:0"#}
{#        src="https://www.google.com/maps/embed/v1/view?key={{ gm_key }}&center={{ gm_coords }}&zoom=18&maptype=satellite" allowfullscreen>#}
{#    </iframe>#}
    <style>
        #map {
            width: 568px;
            height: 200px;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
        }
    </style>
    <div id="map"></div>
    <script>
        function initMap() {
            var myLatLng = {lat: {{ lat }}, lng: {{ lon }}};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: myLatLng
            });

            {% if gmap_bbox is not none %}
            var bboxCoords = [
                {{ gmap_bbox }}
            ];
            // Construct the polygon.
            var bbox = new google.maps.Polygon({
                paths: bboxCoords,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                title: 'Sample {{ igsn }}'
            });
            bbox.setMap(map);
            {% else %}
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Sample {{ igsn }}'
            });
            {% endif %}
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gm_key }}&callback=initMap"></script>

    {{ sample_table_html|safe }}

    <h2>Other views</h2>
    <p>Other views of this Sample are listed in the <a href="{{ url_for('classes.sample', igsn=igsn) }}?_view=alternates">Alternates View</a>.</p>
    <h2>Citation</h2>
    <p>If you wish to cite this sample as you would a publication, please use the following format:</p>
    <code style="display:block; margin: 0 5em 0 5em;">{{ citation|safe }}</code>
{% endblock %}