{% extends "layout.html" %}

{% block content %}
    <h1>Samples Register</h1>
    {% if view == 'alternates' %}
        <h2>Alternates view</h2>
    {% elif view == 'dpr' %}
        <h2>Data Provider Register view</h2>
    {% endif %}
    <p><a href="{{ request.url }}">html</a> | <a href="{{ request.url }}&_format=text/turtle">rdf/turtle</a></p>
    {{ placed_html|safe }}
    {% if view != 'alternates' %}
    <p>Other views of this Sample are listed in the <a href="{{ url_for('model_classes.samples') }}?_view=alternates">Alternates View</a>.</p>
    {% endif %}
{% endblock %}