{% extends "layout.html" %}

{% block content %}
    <h1>Sample</h1>
    <h2>{{ view_title }}</h2>
    <p><a href="{{ url_for('model_classes.sample', igsn=igsn) }}">html</a> | <a href="{{ url_for('model_classes.sample', igsn=igsn) }}?_view={{ view }}&_format=text/turtle">rdf/turtle</a></p>

    {{ sample_table_html|safe }}

    <p>Other views of this Sample are listed in the <a href="{{ url_for('model_classes.sample', igsn=igsn) }}?_view=alternates">Alternates View</a>.</p>
    <h2>Citation</h2>
    <p>If you wish to cite this sample as you would a publication, please use the following format:</p>
    <code style="display:block; margin: 0 5em 0 5em;">
        Geoscience Australia ({{ year_acquired }}) "Geo Sample {{ igsn }}". A digital catalogue record of a physical sample managed by Geoscience Australia. Accessed {{ date_now }}. <a href="http://pid.geoscience.gov.au/sample/{{ igsn }}">igsn:{{ igsn }}</a>
    </code>
{% endblock %}